# Python
__pycache__/
*.py[cod]
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
*.egg-info/
# datos y artefactos pesados
data/
training/data/
*.ckpt
*.pth
outputs/
multirun/
# Node
node_modules/
web/dist/
.vite/
# SO / editor
.DS_Store
.idea/
.vscode/
